.spacex-container{
  padding: 10px 200px;
  .spacex-flex-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .spacex-footer{
    p{
      text-align: center;
    }
  }
  header{
    h2 {
      &:hover {
        color: blue;
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 701px) {
  .spacex-container{
    .spacex-flex-container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

@media screen and (min-width: 1024px) {
  .spacex-container {
    padding: 10px 20px;
  }
}
