.spacex-container {
  padding: 10px 10px;

  .spacex-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .spacex-footer {
    p {
      text-align: center;
    }
  }

  header {
    h2 {
      &:hover {
        color: blue;
        cursor: pointer;
      }
    }
  }
}

@media all and (max-width: 700px) and (min-width: 425px) {
  .spacex-container {
    padding: 10px 20px;

    .spacex-flex-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

@media all and (max-width: 1024px) and (min-width: 701px) {
  .spacex-container {
    padding: 10px 10px;

    .spacex-flex-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

@media all and (max-width: 1440px) and (min-width: 1025px) {
  .spacex-container {
    .spacex-flex-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

@media all and (min-width: 1441px) {
  .spacex-container {
    .spacex-flex-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
