<section class="spacex-card-container">
  <figure class="spacex-card-image">
    <img src="{{cardData.imageUrl}}" alt="{{cardData.imageCaption}}" title={{cardData.imageCaption}}>
    <figcaption><a href="{{cardData.wikipediaLinkUrl}}" target="_blank">{{cardData.imageCaption}}</a></figcaption>
  </figure>
  <div class="spacex-card-content">
    <div>
      <h5>Mission Ids:</h5>
      <p>{{cardData.missionIds.toString()}}</p>
    </div>
    <div>
      <h5>Launch Year:</h5>
      <p>{{cardData.launchYear}}</p>
    </div>
    <div>
      <h5>Successful Launch:</h5>
      <p>{{cardData.successfulLaunch}}</p>
    </div>
    <div>
      <h5>Successful Landing:</h5>
      <p>{{cardData.successfulLanding}}</p>
    </div>
  </div>
</section>
